<meta charset="UTF-8">
<meta name="robots" content="Index" />
<meta name="robots" content="follow" />  
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<% if(description){ %>
 <meta name="description" content="<%= description %>">
<% } %>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<meta name="author" content="Victor Cesar Quispe Atencio">
<meta name="copyright" content="Victor Cesar Quispe Atencio" />
<link rel="stylesheet" href="/dist/bundle.css">

