.details {
  min-height: 85vh; }
  .details__intro {
    padding: 1rem;
    position: relative; }
    .details__intro h2 {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 10px;
      font-size: 2rem;
      margin: 2rem 0 1rem 0; }
      @media only screen and (min-width: 768px) {
        .details__intro h2 {
          font-size: 2.5rem; } }
  .details__icon {
    position: absolute;
    left: -5%;
    top: 30%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #FF0030;
    padding: .6rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .details__icon {
        left: 0%;
        top: 50%; } }
  .details__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .details__grid {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .details__info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1rem  0; }
    .details__info h3 {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-size: 1.5rem; }
    .details__info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .details__info li strong {
        text-align: left;
        text-transform: capitalize; }
  .details__image {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 2rem;
    height: 400px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
    .details__image img {
      width: 100%;
      height: 100%;
      vertical-align: top; }
    @media only screen and (min-width: 768px) {
      .details__image {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; } }
  .details__data {
    margin-left: .5rem; }
    .details__data--special {
      padding: .5rem;
      border-radius: 5px;
      text-transform: uppercase;
      color: white; }
