<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("../layouts/Head.ejs")%>
</head>
<body>
 <%- include("../layouts/Header.ejs")%>
 <section>
  <%- include("../components/Details.ejs")%>

 </section>
<%- include("../layouts/Script.ejs")%>
</body>
</html>