<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("../layouts/Head.ejs")%>
</head>
<body>
 <%- include("../layouts/Header.ejs")%>
 <section class="pageNotFound">
   <div class="circles">
     <p>404<br/><small>PAGE NOT FOUND</small></p>
     <span class="circle big"></span>
     <span class="circle med"></span>
     <span class="circle small"></span>
   </div>
 </section>
<%- include("../layouts/Script.ejs")%>
</body>
</html>